<div class="container">
  <div class="index_title">
    <h1>Torréfaction artisanale</h1>
  </div>
  <div>
    <p>La torréfaction du café est un art qui permet de développer les notes gustatives propres à chaque grain.</p>
    <p>Chez Moongi, nous torréfions de petites quantités de café afin de préserver sa qualité, son équilibre et sa fraîcheur. Nous nous appuyons également sur les connaissances de toute une communauté de torréfacteurs passionnés pour être certains de vous offrir le meilleur café possible.</p>
  </div>
</div>


<div class="container">
  <div class="cafes">
    <h1>Nos variétés de café:</h1>
  </div>
</div>

<div class="container">
  <div class="coffee_card">
    <% @coffees.each do |coffee|%>
      <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <div class="card-body">
          <%# <h5 class="card-title text-center"><%= coffee.name %></h5>
          <%# <p class="card-text"> notes gustatives</p> %>
          <button>
            <%= link_to coffee.name, coffee_path(coffee) %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
