<div class="container">
  <div class="coffee_card">
    <% @coffees.each do |coffee|%>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= coffee.name %></h5>
          <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <%= link_to coffee.name, coffee_path(coffee) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
