<div class="container">
  <h1>Nos varitétés de café:</h1>
</div>

<div class="container">
  <div class="coffee_card">
    <% @coffees.each do |coffee|%>
      <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= coffee.name %></h5>
          <p class="card-text"> notes gustatives</p>
          <button>
            <%= link_to coffee.name, coffee_path(coffee) %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
