<div class="container">
  <div class="coffee_title">
    <h1><%= @coffee.name %></h1>
  </div>
  <p><%= @coffee.description %></p>
</div>

<div class="container">
  <p><em><strong>Tous nos cafés peuvent être commandés en grain ou moulu</strong></em></p>
</div>

<div class="container">
  <div class="tarif">
    <h3>Nos tarifs:</h3>
  </div>
</div>
