.main-container {
  margin-top: 100px;
  display: flex;
}

#map {
  height: 100vh;
}

.address {
  flex-grow: 1;
}

.contact-us{
  margin-top: 100px;
  margin-bottom: 50px;
}

.envoi {
    display: flex;
    flex-direction: row-reverse;
}

input {
  border-radius: 20px;
  border: 1px solid;
  padding: 8px 24px;

  a {
    text-decoration: none;
    color: black;
  }
}
