<div class="container-fluid">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "moongi_texte.png", width: "200px", class: "logo" %>
    <% end %>
  </div>
</div>
<nav>
  <ul class="main-nav">
    <div>
      <li>
        <a href="https://www.instagram.com/moongi_cafe/"><i class="fab fa-instagram"></i></a>
      </li>
    </div>
    <div class= "middle-nav">
      <li>
        <%= link_to "NOS CAFÉS", coffees_path %>
      </li>
      <li>
        <a href="">NOUS</a>
      </li>
    </div>
    <div class="right-nav">
      <li>
        <%= link_to "CONTACT", contact_path %>
      </li>
      <%# <li>
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
      </li> %>
    </div>
  </ul>
</nav>
