
<div class="container header">
  <div class="subtitle">
    <h2><em>Découvrez les cafés Moongi, torréfiés en Ile-de-France</em></h2>
  </div>
</div>

<div class="container carousel">
  <div id="carouselMoongiPhoto" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag "image4.jpg" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "image3.jpg"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "image7.jpg"%>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="introduction">
    <h3>Pourquoi le Café Colombien est-il si apprécié?</h3>
    <p>Le Café Colombien est apprécié à travers le monde pour sa douceur et sa délicatesse en bouche. Il est le résultat d'un savoir-faire de plusieurs décennies, d'une sélection minutieuse des plants de café et d'une envie globale des producteurs colombiens de se tourner vers la qualité plutôt que la quantité. Des appellations nationales et internationales ont été adoptées pour garantir cette qualité propre à ce pays.</p>
    <h3>Qu'est-ce qui le différencie des autres cafés?</h3>
    <ul>
      <li><strong>La variété:</strong> Une sélection minutieuse des variétés de café 100% Arabica, reconnus pour leurs saveurs et leurs arômes.</li>
      <li><strong>Conditions géographiques:</strong> La topographie de la Colombie et son climat, son climat tropical favorisent la culture du café et mettent en avant un terroir unique au monde.</li>
      <li><strong>Les procédés:</strong> Alors que d'autres pays favorisent la récolte automatisée, en Colombie la récolte manuelle prédomine et permet une meilleure sélection des cerises de café mûres.</li>
    </ul>
  </div>
</div>
