
<div class="container">
  <p>Venez découvrir les cafés Moongi, torréfiés en Ile-de-France</p>
</div>

<%#
banner photo simon café
nos porduits
%>
<%# <div class="container">
  <%= link_to "Tous nos cafés", coffees_path %>
<%# </div> %>
