
<div class="container">
  <div class="subtitle">
    <h2><em>Venez découvrir les cafés Moongi, torréfiés en Ile-de-France</em></h2>
  </div>
</div>

<div class="container">
  <div id="carouselMoongiPhoto" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag "image4.jpg" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "image3.jpg"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "image7.jpg"%>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
