<div class="container">
  <h1>QUI SOMMES-NOUS?</h1>
</div>

<div class="container">
  <div>
    <h2>GINNA</h2>
    <p>Originaire de Colombie .....</p>
  </div>

  <div>
    <h2>SIMON</h2>
    <p>.....</p>
  </div>
</div>
