<div class="container">
  <h1>QUI SOMMES-NOUS?</h1>
</div>

<div class="container">
  <div>
    <h2>GINNA</h2>
    <p>"J'ai grandi en Colombie, un pays contrasté et avec une culture du café bien différente à celle que l'on connait en Europe. C'est une fierté de pouvoir partager avec vous ce que je connais et ce que j'apprends tous les jours."</p>
  </div>

  <div>
    <h2>SIMON</h2>
    <p>"Le monde du café est bien plus vaste et riche que je ne l'avais imaginé. A travers nos cafés de spécialité, c'est tout un monde fascinant que nous souhaitons vous faire découvrir".</p>
  </div>
</div>
