<div class="container">
  <h1>QUI SOMMES-NOUS?</h1>
  <p> Nous sommes un couple Franco- colombien de torréfacteurs.
Nous avons à cœur de vous faire voyager à travers le monde du café, de vous faire découvrir les régions et les producteurs de Colombie et bien sûr de vous régaler avec nos cafés fraîchement torréfiés.</p>
</div>

<div class="container">
  <div>
    <h2>GINA</h2>
    <p>"J'ai grandi en Colombie, un pays contrasté et avec une culture du café bien différente à celle que l'on connait en Europe. C'est une fierté de pouvoir partager avec vous ce que je connais et ce que j'apprends tous les jours."</p>
  </div>

  <div>
    <h2>SIMON</h2>
    <p>"Le monde du café est bien plus vaste et riche que je ne l'avais imaginé. A travers nos cafés de spécialité, c'est tout un monde fascinant que nous souhaitons vous faire découvrir".</p>
  </div>
</div>
<%# 

<h1>Flickity - imagesLoaded</h1>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "imagesLoaded": true }'>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
</div>
 %>

<h1>Flickity - images</h1>

<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
</div>
