
<div class="banner">
  <div class="container">
    <h1>QUI SOMMES-NOUS?</h1>
    <p> Nous sommes un couple Franco- colombien de torréfacteurs.
  Nous avons à cœur de vous faire voyager à travers le monde du café, de vous faire découvrir les régions et les producteurs de Colombie et bien sûr de vous régaler avec nos cafés fraîchement torréfiés.</p>
  </div>
</div>


<div class="container">

  <div class="funder">
  <img src="https://res.cloudinary.com/drf1kpws1/image/upload/v1668788790/moongi/IMG_7324_jyofgc.jpg" alt="Gina" />
    <div class="name">
      <h2>GINA</h2>
      <p><em>"J'ai grandi en Colombie, un pays contrasté et avec une culture du café bien différente à celle que l'on connait en Europe. C'est une fierté de pouvoir partager avec vous ce que je connais et ce que j'apprends tous les jours."</em></p>
    </div>
  </div>
  <div class="funder">
    <img src="https://res.cloudinary.com/drf1kpws1/image/upload/v1668790593/moongi/IMG-1098_1_ctkrmd.jpg" alt="Simon" />
    <div class="name">
      <h2>SIMON</h2>
      <p><em>"Le monde du café est bien plus vaste et riche que je ne l'avais imaginé. A travers nos cafés de spécialité, c'est tout un monde fascinant que nous souhaitons vous faire découvrir".</em></p>
    </div>
  </div>
</div>
<div class="container">
  <h3>Nos valeurs</h3>
  <ul>
    <li>Direct Trade</li>
    <li>Café de spécialité</li>
  </ul>
  <p>"En Colombie, nous savons de première main le temps et les efforts nécessaires pour produire un café de haute qualité et l'importance de maintenir un contact directe avec les producteurs pour assurer la traçabilité de notre café.</p>
  <p>Moongi Café veut vous faire découvrir la variété de saveurs, d'arômes et de parfums que l'on peut apprécier dans le café mais aussi les petites histoires des personnes qui se cachent derrière".</p>
</div>
