.carousel-inner {
  height: 60vh;
  margin-top: 20px;
  margin-bottom: 30px;

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  .carousel-item {
    height: 60vh;
  }
}




.carousel {
  background: #FAFAFA;
  height: 200px; /* set gallery height */
}

.carousel-cell {
  width: 66%;
  height: 100%; /* inherit height from gallery */
  margin-right: 0;
  border-radius: 0;
}
