.carousel-inner {
  height: 60vh;
  margin-top: 20px;
  margin-bottom: 30px;

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  .carousel-item {
    height: 60vh;
  }
}

// .flickity-enabled {
  //   margin: 0;
  //   .carousel-cell {
    //     width: 100%; /* full width */
    //     margin-right: 10px;
    //     img {
      //       height: 100%;
      //     }
      //   }
      //   .flickity-button {
        //     background: transparent;
        //     &:hover {
          //       background: transparent;
          //     }
          //     &:focus {
            //       box-shadow: none;
            //     }
            //   }
            // }

 /* external css: flickity.css */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel2 {
  background: #EEE;
}

.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}
.carousel2 img {
  display: block;
  height: 60vh;
}


.flickity-page-dots {
  display: none;
}
