.carousel-inner {
  height: 60vh;
  margin-top: 20px;
  margin-bottom: 30px;

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  .carousel-item {
    height: 60vh;
  }
}

// .flickity-enabled {
  //   margin: 0;
  //   .carousel-cell {
    //     width: 100%; /* full width */
    //     margin-right: 10px;
    //     img {
      //       height: 100%;
      //     }
      //   }
      //   .flickity-button {
        //     background: transparent;
        //     &:hover {
          //       background: transparent;
          //     }
          //     &:focus {
            //       box-shadow: none;
            //     }
            //   }
            // }

            /* external css: flickity.css */

            // * { box-sizing: border-box; }

            // body { font-family: sans-serif; }

            // /* force scrollbar, not necessary, but may reduce gaps. Setting a max-height on .carousel also works */
            // html { overflow-y: scroll; }

            // .carousel {
              //   background: #EEE;
              // }

              // .carousel img {
                //   display: block;
                //   height: 400px;
                // }
 /* external css: flickity.css */

.carousel2 {
  background: #FAFAFA;
  height: 200px; /* set gallery height */
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel2 {
  background: #EEE;
}

.carousel2 img {
  display: block;
  height: 60vh;
}

.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}
